<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Money Mind</title>
    <link rel="stylesheet" href="landing.css">
   



</head>
<body id="home">

    
    {{> header
        homeLink="#home" 
    }}

    <section class="hero-section">
        <div>
            <h2>Track Your Spending Effortlessly</h2>
            <p>Monitor, analyze, and take control of your finances with ease.</p>
            <button class="cta-btn" onclick="window.location.href='/signin'">Start Tracking</button>
        </div>
    </section>


{{> features}}

 

{{> footer}}
    
<script>
    document.querySelector('.menu-toggle').addEventListener('click', function() {
        console.log("toggle selected");
    document.querySelector('.navbar').classList.toggle('active');
});
</script>
</body>
</html>