<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Money Mind</title>
  <link rel="stylesheet" href="signin.css">
  <link rel="stylesheet" href="landing.css">
</head>
<body>
  {{>header
    homeLink='/'
  }}

  <div class="container">
  <form id="signupForm">
    <h3>Signup to MoneyMind</h3>
    <input placeholder="Email" name="email" type="text" id="email" required>
    <br>
    <input placeholder="Password" name="password" type="password" id="password" required>
    <br>
    <input class="sub" type="submit" value="Signup">
    <p id="message"></p>
    <h3 style="display: inline;">Already have an account?</h3>
    <a href="/signin">Signin</a>
  </form>
  
  </div>
  
  <!-- Placeholder for error/success messages -->
  


  {{>features}}
  {{>footer}}

  <script>


   async function signupUser(event) {
  event.preventDefault(); // Prevent form submission

  const email = document.getElementById('email').value;
  const password = document.getElementById('password').value;
  const messageDiv = document.getElementById('message');

  // Clear any previous messages
  messageDiv.textContent = '';

  // Send registration request to the server
  try {
    const response = await fetch('/signup', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ email, password })
    });

    const data = await response.json();

    if (response.status === 400) {
      // Display the message on the registration page
      messageDiv.textContent = data.message;
    } 
    
    else if (response.status === 200) {
      // Display success message
     sessionStorage.setItem('email', data.email);
    console.log('Email stored in local storage:', data.email);
     window.location.href = '/home';
     
    } else {
      // Handle other errors
      messageDiv.textContent = 'An error occurred. Please try again.';
    }
  } catch (error) {
    console.error('Error during registration:', error);
    messageDiv.textContent = 'An unexpected error occurred. Please try again.';
  }
}

// Attach the event listener to the form
document.getElementById('signupForm').addEventListener('submit', signupUser);

  </script>
  </body>
</html>




