<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Money Mind</title>
  <link rel="stylesheet" href="signin.css">
</head>
<body>
  {{>landingHeader
    homeLink='/'
  }}

<div class="container">
  <form id="signupForm">
    <h2>Signup to MoneyMind</h2>
    <p>Track smart,spend wisely</p>
    <input placeholder="Email" name="email" type="text" id="email"required>
    <br>
    <div style="position: relative; display: inline-block;">
    <input
        placeholder="Password"
        name="password"
        type="password"
        id="password"
        required
        style="padding-right: 4px;" 
    >
    <button type="button" onclick="togglePassword()" id="toggleButton">
        Show
    </button>
</div>
 
 <div id="loading" class="loading" style="display: none;">
        <img src="images/loading.gif" alt="Loading..." width="20px" >
 </div>

    <div id="errorMessages" style="color: rgb(238, 9, 9); display: block;"></div>
    <p id="wait" style="display:none;">Just a moment, your OTP is on the way! (5 seconds)</p>


    <input class="sub" type="submit" value="generate OTP">

    
    <p style="display: inline;">Already have an account?</p>
    <a href="/signin">Signin</a>
  </form>
  


  <form id="otpForm" style="display:none;">
    <h2>Enter your otp</h2>
     <p>We’ve sent an OTP to your email address</p>
    <input placeholder="Enter otp" name="otp" type="text" id="otp" required>
    <br>
    <input class="sub" type="submit" value="verify otp">
    <p id="otpmessage"></p>
  </form>
  
  </div>

  {{>features}}
  {{>footer}}

  <script>
    const errorMessages = document.getElementById("errorMessages");
    



function togglePassword() {
    const passwordInput = document.getElementById("password");
    const toggleButton = event.target; // The clicked button
    
    if (passwordInput.type === "password") {
        passwordInput.type = "text";
        toggleButton.textContent = "Hide";
    } else {
        passwordInput.type = "password";
        toggleButton.textContent = "Show";
    }
}
 
document.getElementById('signupForm').addEventListener('submit', userExists);
async function userExists(event){
    event.preventDefault(); 
    const email = document.getElementById('email').value;
    errorMessages.innerHTML = "";
    const response = await fetch('/signup/userExists', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({ email })
          });
     const data = await response.json();

     if (response.status === 400) {
            const message = document.createElement("p");
            message.textContent = data.message;
            errorMessages.appendChild(message);
      } 
      else if (response.status === 200) {
          checkPassword();
      }
}


function checkPassword() {
    errorMessages.innerHTML = "";
    const password = document.getElementById("password").value;
    const message = document.createElement("p");
    message.textContent = 'Password must contain:';
    errorMessages.appendChild(message);
   
    const criteria = [
    { regex: /.{8,}/, message: "> At least 8 characters." },
    { regex: /[A-Z]/, message: "> At least one uppercase letter." },
    { regex: /[!@#$%^&*()_\-+=~`[\]{}|:;"'<>,.?/]/, message: "> At least one special character." },
    { regex: /^\S+$/, message: "> No spaces allowed." }
    ];

    let isValid = true;

    // Check each criterion
    criteria.forEach(criterion => {
        if (!criterion.regex.test(password)) {
            const message = document.createElement("p");
            message.textContent = criterion.message;
            errorMessages.appendChild(message);
            isValid = false;
        }
    });
    if(isValid){
      errorMessages.innerHTML="";
        generateOTP();
    }
}
 
async function generateOTP() {
         
          console.log("generate otp function");
          document.getElementById('loading').style.display='block';
          errorMessages.innerHTML = "";
          const email = document.getElementById('email').value;
          document.getElementById('wait').style.display = 'block';

            const response = await fetch('/signup/generateOTP', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({ email})
            });

            const data = await response.json();

            if (response.status === 400) {
              const message = document.createElement("p");
              message.textContent = data.message;
              errorMessages.appendChild(message);
              document.getElementById('wait').style.display = 'none';
              document.getElementById('loading').style.display='none';

            } else if (response.status === 200) {
              const otpForm = document.getElementById('otpForm');
              const signupForm = document.getElementById('signupForm');
              otpForm.style.display = 'block';
              signupForm.style.display = 'none';
            }
}


document.getElementById('otpForm').addEventListener('submit', verifyOTP);
async function verifyOTP(event) {
        event.preventDefault();
        const otpval = document.getElementById('otp').value;
        const response = await fetch('/signup/verifyOTP', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ otpval })
        });

        const data = await response.json();

        if (response.status === 400) {
          document.getElementById('otpmessage').textContent = data.message;
        } else if (response.status === 200) {
           signUpUser();
        }
}

async function signUpUser(){
          const email = document.getElementById('email').value;
          const password = document.getElementById('password').value;
          const response= await fetch('/signup', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({ email, password })
          });

          const data = await response.json();

          if (response.status === 400) {
             document.getElementById('otpmessage').textContent = data.message;
          } else if (response.status === 200) {
            window.location.href = '/home';
          } else {
            document.getElementById('otpmessage').textContent  = 'An error occurred. Please try again.';
          }
}



</script>
</body>
</html>
