<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fetch Expense</title>  
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/fetch-transactions.css">
    <script src="../script/fetch-transactions.script.js" defer></script>
</head>
<body>
    <div id="home">
        {{> homeHeader
            homeLink="/home" 
        }}
        <div id="panel">
            <div id="left-panel">
                <div id="left-panel-top">
                    <ul>
                        <li>Goals</li>
                        <li>Budget</li>
                        <li>Savings</li>
                        <li>Reports</li>
                        <li>Groups</li>
                    </ul>
                </div>
                <div id="left-panel-bottom">
                    <ul>
                        <li>Custom Categories</li>
                        <li>Profile</li>
                        <li>Account</li>
                        <li>feedback</li>
                        <li><a href='/auth/logout'>Log out</a></li>
                    </ul>
                </div>
            </div>

            <div id="right-panel">
                    <div id="filter-div">
                        <select id="filter-type">
                            <option value="Debit">Debit</option>
                            <option value="Credit">Credit</option>
                        </select>
                        <label for="start-month">Start Month</label>
                        <input class="filter-month" type="month" id="start-month" placeholder="Start Month" />
                        <label for="end-month">End Month</label>
                        <input class="filter-month" type="month" id="end-month" placeholder="End Month"/>
                        <select id="filter-mode">
                            <option value="">All Modes</option>
                            <option value="paytm">Paytm</option>
                            <option value="phone pe">Phone pe</option>
                            <option value="google pay">Google pay</option>
                            <option value="cash">Cash</option>
                            <option value="debit card">debit Card</option>
                            <option value="credit card">credit Card</option>
                            <option value="other">other</option>
                        </select>
                        <input type="text" id="filter-category" placeholder="Category" />
                        <button onclick="applyFilters()">Filter</button>
                        <button onclick="resetFilters()">Reset</button>
                    </div>
                    <div class="table-container">
                        <table id="debit-table">
                            <thead>
                                <tr>
                                    <th>Amount</th>
                                    <th>Date</th>
                                    <th>Purpose</th>
                                    <th>Mode of Payment</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody id="debit-tbody">
                                <!-- Table rows will be inserted here -->
                            </tbody>
                        </table>
                        <table id="credit-table" style="display: none;">
                            <thead>
                                <tr>
                                    <th>Amount</th>
                                    <th>Date</th>
                                    <th>Mode of Payment</th>
                                    <th>Bank</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody id="credit-tbody">
                                <!-- Table rows will be inserted here -->
                            </tbody>
                        </table>

                    </div>
            </div>
        </div>
    </div>

   <style>
       .hidden {
           display: none;
       }
        #transaction-link a{
            border-radius: 50px;
            font-size: 15px;
            text-decoration: none;
            background-color: #83bce3;
            color: black;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
        }
   </style>
</body>
