<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Money Mind</title>
    <link rel="stylesheet" href="/css/signin.css">
    <script src="../script/signin.js" defer></script>
</head>
<body id="home" class="roboto-regular">

    {{> landingHeader
        homeLink="/" 
        
    }}
    <img class='hero-left-img' src="/images/image-1.png" width="500px">
    <div class="container">
        
        <form id="signinform" style="display: block;">
            <h2>Sign in</h2>
            <p>stay updated on your expenses</p>
            <input placeholder="Email" name="email" type="text" id="email" required>
            <br>
            <div style="position: relative; display: inline-block;">
                <input placeholder="Password" name="password" type="password" id="password" required style="padding-right: 4px;">
                <button class="toggle" type="button" onclick="togglePassword('password','toggleButton')" id="toggleButton">Show</button>
            </div>
            <input class="sub" type="submit" value="Signin">
            <p id="message"></p>
            <a href="#" onclick="show_reset_form()">forgot password?</a><br>
            </br>
            <p style="display: inline;">don't have an account?</p>
            <a href="/auth/signup">signup</a>
        </form>



        <form id="reset-otp-generate-form" style="display: none;">
            <h2>Enter your registered email address</h2>
            <input placeholder="Email" name="email" type="text" id="email-reset" required>
            <br>
            <div id="loading" class="loading" style="display: none;">
                <img src="/images/loading.gif" alt="Loading..." width="20px" >
            </div>
            <div id="errorMessages" style="color: rgb(238, 9, 9); display: block;"></div>
            <p id="wait" style="display:none;">Just a moment, your OTP is on the way! (5 seconds)</p>
            <input class="sub" type="submit" value="send otp">
        </form>

        <form id="otpForm" style="display:none;">
            <h2>Enter your otp</h2>
            <p>We’ve sent an OTP to your email address</p>
            <input placeholder="Enter otp" name="otp" type="text" id="otp" required>
            <br>
            <input class="sub" type="submit" value="verify otp">
            <p id="otpmessage"></p>
        </form>


        <form id="reset-password-form" style="display: none;">
            <div style="position: relative; display: inline-block;">
                <input placeholder="Password" name="password" type="password" id="password_reset" required style="padding-right: 4px;">
                <button class="toggle" type="button" onclick="togglePassword('password_reset','toggleButton_reset')" id="toggleButton_reset">Show</button>
            </div>
            <div id="errorMessages-2" style="color: rgb(238, 9, 9); display: block;"></div>
            <input class="sub" type="submit" value="change_password">
        </form>

        <form id="success" style="display: none;">
            <h2>our password has been successfully reset. Please log in using your new credentials.</h2>
            <a href="/auth/signin">signin</a>
        </form>
    </div>
    <hr id="services" style="border: none; height: 2px; background-color: black;">
    {{> features}}
    {{> footer}}

</body>
</html>