<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Money Mind</title>
  <link rel="stylesheet" href="/css/signin.css">
  <script src="../script/signup.js" defer></script>
</head>
<body>
  {{>landingHeader
    homeLink='/'
  }}
<img class='hero-left-img' src="/images/image-1.png" width="600px">
<div class="container">
  <form id="signupForm">
    <h2>Signup to MoneyMind</h2>
    <p>Track smart,spend wisely</p></br>
    <input placeholder="Email" name="email" type="text" id="email"required>
    <br>
   <div style="position: relative; display: inline-block;">
      <input placeholder="Password" name="password" type="password" id="password" required style="padding-right: 4px;">
      <button class="toggle" type="button" onclick="togglePassword('password','toggleButton')" id="toggleButton">Show</button>
    </div>
 
 <div id="loading" class="loading" style="display: none;">
        <img src="/images/loading.gif" alt="Loading..." width="20px" >
 </div>

    <div id="errorMessages" style="color: rgb(238, 9, 9); display: block;"></div>
    <p id="wait" style="display:none;">Just a moment, your OTP is on the way! (5 seconds)</p>
    <input class="sub" type="submit" value="generate OTP">
    </br><br>
    <p style="display: inline;">Already have an account?</p>
    <a href="/auth/signin">Signin</a>
  </form>
  


  <form id="otpForm" style="display:none;">
    <h2>Enter your otp</h2>
     <p>We’ve sent an OTP to your email address</p>
    <input placeholder="Enter otp" name="otp" type="text" id="otp" required>
    <br>
    <input class="sub" type="submit" value="verify otp">
    <p id="otpmessage"></p>
  </form>
  
  </div>
  <hr id="services" style="border: none; height: 2px; background-color: black;">
  {{>features}}
  {{>footer}}

  
</body>
</html>
