.body{
  display: flex;
  margin-top: 100px;
  height: 550px;
}
.hero-section {
  text-align: center;
  font-family: "Space Grotesk", serif;
  font-weight: 400;
  margin-left: -100px;
  bottom: 0px;
}
.yellow{
  color:#bbe86f;
  
}
.hero-section h1{
  font-size: 60px;
  color:white;
}
.hero-section p {
  color:white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}
.hero-left-img{
  top:180px;
  margin-top: 230px;
  border:solid;
  border-color: solid;
  display: inline-block;
}
.cta-btn {
  background-color: #20D982;
  border: none;
  color: black;
  padding: 15px 30px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 30px;
}
.cta-btn:hover {
  background-color: #bbe86f;
}
@media (max-width: 768px) {
.hero-section h2 {
  font-size: 35px;
}

}