.sub{
  cursor: pointer;
  color:black;
  background-color:  #20D982;
  width:150px;
  height:40px;
  border-radius: 10px;
  border-width: 1px;
}
.sub:hover{
  background-color:  #27cb7f;
}

input{
  width: 350px;
  padding: 6px 2px; 
  height:23px;
  margin: 10px 0 10px 0;
  border:solid;
  border-radius: 4px;
  border-width: 1.5px;
}

.container {
  margin-left: auto;   /* Push the element to the right */
  margin-right: 0; 
  position:relative;
  top:150px;
  margin-bottom: 160px;
  height: 400px;
  width:900px;
}
  .hero-left-img {
    position: absolute;
    margin-top: 230px;
    display: inline-block;
 }
form {
  width: 350px;
  position: absolute;
  top: 50%;  /* Centers vertically */
  left: 50%; /* Centers horizontally */
  transform: translate(-50%, -50%);  /* Offsets the element by its width and height to center it */
  padding: 20px;
  background-color: rgba(255, 255, 255);
  border-radius: 25px;
}

.toggle{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 14px;
  color: #333;
}
