.sub{
  cursor: pointer;
  color:black;
  background-color:  #20D982;
  width:150px;
  height:40px;
  border-radius: 10px;
  border-width: 1px;
}
.sub:hover{
  background-color:  #27cb7f;
}

input{
  width: 300px;
  padding: 6px 2px; 
  height:23px;
  margin: 10px 0 10px 0;
  border:solid;
  border-radius: 4px;
  border-width: 1.5px;
  border: 1px solid #ccc;
}

form {
  width: 350px;
  padding: 20px;
  background-color: rgba(255, 255, 255);
  border-radius: 25px;
  box-sizing: border-box; /* This ensures the padding is included in the width */
}


.toggle{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 14px;
  color: #333;
}
@media (max-width: 768px) {
  .container {
    position:relative;
    max-width:500px;
  }
  form {
   width: 350px;
  }
  input{
    width: 280px;
  }

}