    <section class="features"></section>
        <h1 style="text-align: center;">Why Use Money Mind?</h1>
        <div class="feature-cards">
            <div class="feature-card">
                <h4>Real-time Monitoring</h4>
                <p>Track your daily, weekly, and monthly expenses with live updates.</p>
            </div>
            <div class="feature-card">
                <h4>Custom Categories</h4>
                <p>Personalize your expense categories to match your lifestyle.</p>
            </div>
            <div class="feature-card">
                <h4>Visual Reports</h4>
                <p>Generate beautiful charts and reports to analyze your spending patterns.</p>
            </div>
        </div>
    </section>
    <hr>