<header>
  
    <div class="logobar">
      <img src="images/moneymind2.png" alt="Money Mind Logo" width="250px">
    </div>
    <div class="navbar">
      <ul>
        <li><a href="{{homeLink}}">Home</a></li>
        <li><a href="#privacy-policy">Privacy Policy</a></li>
        <li><a href="#about-us">About Us</a></li>
        <li><a href="#contact-us">Contact Us</a></li>
      </ul>
    </div>
  
  <hr>
</header>
