<header>
  <div class="header">
    <div class="logo" style="margin-top: 50px;">
      <img src="html/moneymind2.png" alt="Money Mind Logo" width="250px">
    </div>
    <div class="navbar">
      <button class="menu-toggle">Menu</button>
      <ul class="menu">
        <li><a href="{{homeLink}}">Home</a></li>
        <li><a href="#privacy-policy">Privacy Policy</a></li>
        <li><a href="#about-us">About Us</a></li>
        <li><a href="#contact-us">Contact Us</a></li>
      </ul>
    </div>
  </div>
  <hr>
</header>
