<header>
  
    <div class="logobar">
      <a href="{{homeLink}}">
      <img src="images/moneymind2.png" alt="Money Mind Logo" width="200px;">
      </a>
    </div>
    <div class="navbar">
      <ul>
        <li><a href="{{homeLink}}">Home</a></li>
        <li><a href='/add-expense'>Add Expense</a></li>
        <li><a href='/fetch-expenses'>Manage Expense</a></li>
        <li><a href="javascript:void(0)" id="profileButton" onclick="showProfile()">Profile</a></li>
      </ul>
    </div>
  
  <hr>
</header>
