



.sub{
  background-color: #ff6347;
  cursor: pointer;
  border:solid;
  border-width: 1px;
  border-radius:5px;
  color:white;
  width:70px;
}
.sub:hover{
  background-color: #ff4500;
}

input{
  font-size: 1rem;
  width: 300px;
  padding: 6px 2px; 
  margin: 10px 0 10px 0;
  border-radius: 5px;
  border:solid;
  border-width: 1px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

form {
  margin-top: 160px;
  text-align: center;
  border: solid 1.5px;
  border-radius: 20px;
  padding: 20px;
}