



.sub{
  background-color:rgb(52, 212, 223);
  cursor: pointer;
  border:solid;
  border-width: 1px;
  border-radius:3px;
}
.sub:hover{
  background-color:rgb(25, 221, 235);
}

input{
  font-size: 1rem;
  width: 300px;
  padding: 6px 2px; 
  margin: 10px 0 10px 0;
  border-radius: 5px;
  border:solid;
  border-width: 1px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

form {
  text-align: center;
  border: solid 1.5px;
  border-radius: 20px;
  padding: 20px;
}