<style>
    .footer{
  background-color: #1d0324;
  color: rgb(0, 0, 0);
  padding: 20px 0;
  text-align: center;
}
.footer a {
  color: #ffffff;
  text-decoration: none;
}
.footer a:hover {
  color: #ffffff;
}
p{
  color:black;
}
.footer h3, 
.footer p {
  color: white;
}


</style>



    <section class='footer' id="about">
        <h3>About Us</h3>
        <p>Expense Tracker is dedicated to helping you manage your finances with ease. Our mission is to make budgeting stress-free.</p>
    </section>


<footer class="footer">
  <hr>
  <p>&copy; 2024 MoneyMind. All rights reserved.</p>
</footer>
