<style>
  body{
    background-color: black;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }

  header {
    position: fixed;
    top: 0px;
    height: 70px; 
    background-color: #1d0324;
    display:flex;
    width: 100%;
    z-index: 1000;
  }
  .header-left{
    flex: 1;
  }
 .header-middle ,.header-right{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-right{
  justify-content: flex-end;
}


.header-middle ul,.header-right ul {
  display: flex;
  list-style: none;
}
.header-middle li a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin: 20px; 

}
.header-middle li a:hover{
  color: rgb(255, 255, 255,0.5);
}
.header-right li a{
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: solid;
  border-color: #20D982;
  background-color: rgba(32, 217, 130, 0.1);
  border-radius: 100px;
  border-width: 1.5px;
  font-size: 15px;
  margin: 20px; 
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.header-right li a:hover{
  background-color:  #20D982;
  color: black;
}

#logo-img{
  left:20px;
  top:10px;
  position: relative;
  width:200px;
}


@media (max-width: 768px) {
   
    .header-right{
      display: none;
      flex:1.5;
      margin-right: 5px;
    }
    .header-middle li a{
      margin: 15px; 

}


}

</style>


<header>
  <div class="header-left">
    <a href="#" onclick="showHomePage()">
    <img id="logo-img" src="/images/new_logo_2.png" alt="Money Mind Logo">
    </a>
  </div>
 
  <div class="header-middle">
    <ul>
      <li><a href="#" onclick="showHomePage()">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#services">Services</a></li>
    </ul>
  </div>

  <div class="header-right">
    <ul>
      <li><a href="#" onclick="showSignInPage()">Sign In</a></li>
      <li><a href="#" onclick="showRegisterPage()">Register</a></li>
    </ul>
  </div>  
  
</header>

